<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Duy Long</title>
</head>

<body>
    <h1>Hello Duy Long with view engine</h1>
    <img src="images/nestjs.jpg" alt="">
    <h2>Message: <%= message %>
    </h2>
</body>

</html>